<!DOCTYPE html>
<html lang="ko">
<head><% include ./head %></head>
<body class="m-page--wide m-header--fixed m-header--fixed-mobile m-footer--push m-aside--offcanvas-default">
<div class="m-grid m-grid--hor m-grid--root m-page">
    <div id="menu"></div>
    <div id="page"></div>
    <!-- jQuery (부트스트랩의 자바스크립트 플러그인을 위해 필요합니다) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        $('#menu').load('/menu');
        $('#page').load('<%= initPage %>');
    })
    </script>
</body>
</html>
