<!DOCTYPE html>
<html>
	<!-- begin::Head -->
	<head>
		<meta charset="utf-8" />
		<title>IROOM</title>
		<meta name="description" content="Latest updates and statistic charts">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">

        <script src="/vendors/jquery/dist/jquery.min.js"></script>
		
		<!--begin:: Global Mandatory Vendors -->
		<link href="/vendors/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet" type="text/css" />
		<!--end:: Global Mandatory Vendors -->

        <!--begin:: Global Optional Vendors -->
        <!--end:: Global Optional Vendors -->
        
		<!--begin::Global Theme Styles -->
		<!-- <link href="/assets/demo/base/vendors.bundle.css" rel="stylesheet" type="text/css" /> -->
		<link href="/assets/demo/base/style.bundle.iroom.css" rel="stylesheet" type="text/css" />
		<!--end::Global Theme Styles -->
		
		<!--begin::Page Vendors Styles -->
		<!--end::Page Vendors Styles -->
		<link rel="shortcut icon" href="/img/favicon.ico" />
	</head>

	<!-- end::Head -->

	<!-- begin::Body -->
	<body>
		<!-- begin:: Page -->
		<!-- <form action="/login" method="post">
			<p>
			<input type="radio" name="userType" value="U">개인
			<input type="radio" name="userType" checked="checked" value="C">업체
		</p>
			<input type="text" placeholder="User ID" name="id" id="id" autocomplete="off">
			<input type="password" placeholder="Password" name="password">
			<input type="submit" value="Log In"/>
		</form> -->
		
		<!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page">
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor m-login m-login--signin m-login--2 m-login-2--skin-1" id="m_login" style="background-image: url(../../../assets/app/media/img//bg/bg-1.jpg);">
				<div class="m-grid__item m-grid__item--fluid m-login__wrapper">
					<div class="m-login__container">
						<div class="m-login__logo">
							<a href="#">
								<img src="../../../assets/app/media/img/logos/logo-1.png">
							</a>
						</div>
						<div class="m-login__signin">
							<div class="m-login__head">
								<h3 class="m-login__title">Sign In To Admin</h3>
							</div>
							<form class="m-login__form m-form" method="post" action="/login">
								<p>
									<input type="radio" name="userType" value="U">개인
									<input type="radio" name="userType" checked="checked" value="C">업체
								</p>
								<div class="form-group m-form__group">
									<input class="form-control m-input" type="text" id="id"  placeholder="id" name="id" autocomplete="off" required autofocus > 
								</div>
								<div class="form-group m-form__group">
									<input class="form-control m-input m-login__form-input--last" type="password" placeholder="Password" name="password" required>
								</div>
								<!-- <div class="row m-login__form-sub">
									<div class="col m--align-left m-login__form-left">
										<label class="m-checkbox  m-checkbox--light">
											<input type="checkbox" name="remember"> Remember me
											<span></span>
										</label>
									</div>
									<div class="col m--align-right m-login__form-right">
										<a href="javascript:;" id="m_login_forget_password" class="m-link">Forget Password ?</a>
									</div>
								</div> -->
								<div class="m-login__form-action">
									<button id="m_login_signin_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air  m-login__btn m-login__btn--primary">Sign In</button>
								</div>
							</form>
						</div>
						<div class="m-login__signup">
							<div class="m-login__head">
								<h3 class="m-login__title">Sign Up</h3>
								<div class="m-login__desc">Enter your details to create your account:</div>
							</div>
							<form class="m-login__form m-form" action="/">

								<div class="form-group m-form__group">
									<input class="form-control m-input" type="text" placeholder="Fullname" name="fullname">
								</div>
								<div class="form-group m-form__group">
									<input class="form-control m-input" type="text" placeholder="id" name="id" autocomplete="off">
								</div>
								<div class="form-group m-form__group">
									<input class="form-control m-input" type="password" placeholder="Password" name="password" required>
								</div>
								<div class="form-group m-form__group">
									<input class="form-control m-input m-login__form-input--last" type="password" placeholder="Confirm Password" name="rpassword">
								</div>
								<div class="row form-group m-form__group m-login__form-sub">
									<div class="col m--align-left">
										<label class="m-checkbox m-checkbox--light">
											<input type="checkbox" name="agree">I Agree the <a href="#" class="m-link m-link--focus">terms and conditions</a>.
											<span></span>
										</label>
										<span class="m-form__help"></span>
									</div>
								</div>
								<div class="m-login__form-action">
									<button id="m_login_signup_submit" class="btn m-btn m-btn--pill m-btn--custom m-btn--air m-login__btn m-login__btn--primary">Sign Up</button>&nbsp;&nbsp;
									<button id="m_login_signup_cancel" class="btn m-btn m-btn--pill m-btn--custom m-btn--air m-login__btn">Cancel</button>
								</div>
							</form>
						</div>
						<div class="m-login__forget-password">
							<div class="m-login__head">
								<h3 class="m-login__title">Forgotten Password ?</h3>
								<div class="m-login__desc">Enter your email to reset your password:</div>
							</div>
							<form class="m-login__form m-form" action="">
								<div class="form-group m-form__group">
									<input class="form-control m-input" type="text" placeholder="Email" name="email" id="m_email" autocomplete="off">
								</div>
								<div class="m-login__form-action">
									<button id="m_login_forget_password_submit" class="btn m-btn m-btn--pill m-btn--custom m-btn--air m-login__btn m-login__btn--primary">Request</button>&nbsp;&nbsp;
									<button id="m_login_forget_password_cancel" class="btn m-btn m-btn--pill m-btn--custom m-btn--air m-login__btn">Cancel</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end:: Page -->

        <!--begin:: Global Mandatory Vendors -->
        <!--end:: Global Mandatory Vendors -->
        
        <!--begin:: Global Optional Vendors -->
        <!--end:: Global Optional Vendors -->
		
		<!--begin::Global Theme Bundle -->
		<!--<script src="/assets/demo/base/vendors.bundle.js" type="text/javascript"></script>-->
		<!--end::Global Theme Bundle -->

		<!--begin::Page Scripts -->
		<script>
            $(document).ready(function(){
                $("#id").focus();
            });
    </script>
		<!--end::Page Scripts -->
	</body>
	<!-- end::Body -->
</html>
