<script type="text/javascript">
$(document).ready(function() {
    var arrows;
    if (mUtil.isRTL()) {
        arrows = {
            leftArrow: '<i class="la la-angle-right"></i>',
            rightArrow: '<i class="la la-angle-left"></i>'
        }
    } else {
        arrows = {
            leftArrow: '<i class="la la-angle-left"></i>',
            rightArrow: '<i class="la la-angle-right"></i>'
        }
    }

    $('#projectStartDate').datepicker({
            rtl: mUtil.isRTL(),
            todayHighlight: true,
            orientation: "bottom left",
            format : "yyyy-mm-dd",
            templates: arrows
    });

    $('#projectEndDate').datepicker({
            rtl: mUtil.isRTL(),
            todayHighlight: true,
            orientation: "bottom left",
            format : "yyyy-mm-dd",
            templates: arrows
    });

    $('#m_modal_project').modal();
    return;    
})

$('#save').click(function() {
    var projectInfo = {
        name : $('#projectName').val(),
        performCompany : $('#performCompany').val(),
        customerCompany : $('#customerCompany').val(),
        startDate : $('#projectStartDate').val(),
        endDate : $('#projectEndDate').val(),
        leader : $('#projectLeader').val(),
        location : $('#projectLocation').val(),
        description : $('#description').val()
    };

    if(projectInfo.projectName == '') {
        alert("프로젝트 이름은 필수 값입니다.");
        return;
    }

    var ajaxInfo = {
        url : "/projects/project",
        data : projectInfo,
        cache : false,
        type : "POST",
        success : function(response) {
            alert("저장하였습니다.");
            $('#m_modal_project').modal('hide');
            $('#search').trigger('click');
        },
        error : function(request,status,error) {
                alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
        }
    }

    $.ajax(ajaxInfo);
});
  </script>
  <!--begin::Modal-->
  <div class="modal fade" id="m_modal_project" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">프로젝트 추가</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  <form>
                      <div class="form-group required">
                          <label for="projectName" class="form-control-label">프로젝트 이름</label>
                          <input type="text" class="form-control" placeholder="프로젝트 이름" id="projectName" value="">
                      </div>
                      <div class="form-group">
                          <label for="performCompany" class="form-control-label">수행사</label>
                          <input type="text" class="form-control" placeholder="수행사" id="performCompany">
                      </div>
                      <div class="form-group">
                          <label for="customerCompany" class="form-control-label">고객사</label>
                          <input type="text" class="form-control" placeholder="고객사" id="customerCompany">
                      </div>
                      <div class="form-group">
                          <label for="projectStartDate" class="form-control-label">시작일</label>
                          <div class="input-group date">
                              <input type="text" class="form-control m-input" readonly placeholder="Select date" id="projectStartDate" />
                              <div class="input-group-append">
                                  <span class="input-group-text">
                                      <i class="la la-calendar-check-o"></i>
                                  </span>
                              </div>
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="projectEndDate" class="form-control-label">종료일</label>
                          <div class="input-group date">
                              <input type="text" class="form-control m-input" readonly placeholder="Select date" id="projectEndDate" />
                              <div class="input-group-append">
                                  <span class="input-group-text">
                                      <i class="la la-calendar-check-o"></i>
                                  </span>
                              </div>
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="projectLeader" class="form-control-label">프로젝트 리더</label>
                          <input type="text" class="form-control" placeholder="프로젝트 리더" id="projectLeader">
                      </div>
                      <div class="form-group">
                          <label for="projectLocation" class="form-control-label">위치</label>
                          <input type="text" class="form-control" placeholder="위치" id="projectLocation">
                      </div>
                      <div class="form-group">
                          <label for="description" class="form-control-label">세부사항</label>
                          <textarea class="form-control" placeholder="세부사항" id="description"></textarea>
                      </div>
                  </form>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" id="save">Save</button>
              </div>
          </div>
      </div>
  </div>
  <!--end::Modal-->