<link href="/vendors/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
<link href="/vendors/vendors/line-awesome/css/line-awesome.css" rel="stylesheet" type="text/css" />
<link href="/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" type="text/css" />
<div class="m-grid__item m-grid__item--fluid  m-grid m-grid--ver-desktop m-grid--desktop m-container--fluid m-container--responsive m-container--xxl m-page__container m-body">
    <div class="m-grid__item m-grid__item--fluid m-wrapper">
        <!-- BEGIN: Subheader -->
        <!-- <div class="m-subheader ">
            <div class="d-flex align-items-center">
                <div class="mr-auto">
                    <h3 class="m-subheader__title ">프로젝트관리</h3>
                </div>
            </div>
        </div> -->
        <!-- END: Subheader -->
        <div class="m-content">
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="col-form-label" for="s_projectName">프로젝트 이름</label>
                        <input onkeypress="if(event.keyCode == 13) $('#search').trigger('click');" type="text" class="form-control" id="s_projectName" name="s_projectName">
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group m-form__group row">
                        <label class="col-form-label col-lg-4 col-sm-12">프로젝트 종료일자</label>
                        <div class="input-daterange input-group">
                            <input type="text" class="form-control m-input" id="s_projectEndDateFrom" />
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="la la-ellipsis-h"></i></span>
                            </div>
                            <input type="text" class="form-control m-input" id="s_projectEndDateTo" />
                        </div>
                    </div>  
                </div>
                <div class="col-md-2 text-right text-middle">
                    <% if ((user.user_level < 2 && user.category === 'U') || 
                            (user.category === 'C')) { %>
                    <div class="m-portlet__head-caption">
                        <div class="text-right text-middle">
                            <button type="button" class="btn btn-success btn-sm" id="add" data-toggle="modal" data-target="#m_modal_project" onclick="projectModal('0')">Add</button>
                        </div>
                    </div>
                     <% } %>
                </div>
                <div class="col-md-3 text-right text-middle">
                    <button type="button" class="btn btn-primary btn-sm" id="search">Search</button>
                </div>
            </div>
            <!--Begin::Section-->
            <div class="row">
                <div class="col-xl-12">
                    <div class="m-portlet " id="m_portlet">
                        <div class="m-portlet__body">
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="m-section">
                                        <div class="m-section__content">
                                            <table class="table table-striped m-table">
                                            <thead>
                                            <tr>
                                                <th>프로젝트 이름</th>
                                                <th>수행사</th>
                                                <th>고객사</th>
                                                <th>PM</th>
                                                <th>시작일자</th>
                                                <th>종료일자</th>
                                                <th>위치</th>
                                            </tr>
                                            </thead>
                                            <tbody id = "projects">
                                            </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>					    
                </div>
            </div>
            <!--End::Section-->
        </div>
    </div>
</div>
<div id="projectModal">
</div>
<!--begin:: Global Mandatory Vendors -->
<script src="/vendors/jquery/dist/jquery.js" type="text/javascript"></script>
<script src="/vendors/popper.js/dist/umd/popper.js" type="text/javascript"></script>
<script src="/vendors/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/vendors/js-cookie/src/js.cookie.js" type="text/javascript"></script>
<script src="/vendors/moment/min/moment.min.js" type="text/javascript"></script>
<script src="/vendors/tooltip.js/dist/umd/tooltip.min.js" type="text/javascript"></script>
<script src="/vendors/perfect-scrollbar/dist/perfect-scrollbar.js" type="text/javascript"></script>
<script src="/vendors/wnumb/wNumb.js" type="text/javascript"></script>
<!--end:: Global Mandatory Vendors -->

<!--begin:: Global Optional Vendors -->
<script src="/vendors/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="/vendors/js/framework/components/plugins/forms/bootstrap-datepicker.init.js" type="text/javascript"></script>
<script src="/vendors/bootstrap-daterangepicker/daterangepicker.js" type="text/javascript"></script>

<!--end:: Global Optional Vendors -->

<!--begin::Global Theme Bundle -->
<script src="/assets/demo/base/scripts.bundle.js" type="text/javascript"></script>
<!--end::Global Theme Bundle -->

<!--begin::Page Scripts -->
<script src="/assets/demo/custom/crud/forms/widgets/bootstrap-datepicker.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#menu').load('/menu');
    $('#s_projectName').val('');
    $('#projectEndDateTo').val('');
    $('#projectEndDateFrom').val('');   
    $('#search').trigger('click');
    return;
})
</script>

<script type="text/javascript">    
// 포커스가 search 버튼일때 엔터를 치면 2번 실행되서 일단 막음. 
/*$(document).keypress(function(e) {
    if (e.which == 13) $('#search').trigger('click');
});*/

var isEmpty = function(value) {
    if (value == 'null' || value == '' || value == null || value == undefined || (value != null && typeof value == 'object' && !Object.keys(value).length)) {
        return '-';
    } else {
        return value;
    }
}

$('#search').click(function() {
    $("#projects").empty();
    $.ajax({
        type : "GET",
        url : "/projects/projects?projectName=" + $("#s_projectName").val() + "&projectEndDateFrom=" + $("#s_projectEndDateFrom").val() + "&projectEndDateTo=" + $("#s_projectEndDateTo").val(),
        //data : searchCondition,
        cache : false,
        success : function(response) {
                  if (response != "") {
                    var list = "";
                    $.each(response, function(index, projects) {
                        list = list + "<tr>" +
                            "<td><a href=\"javascript:projectModal('" + projects.project_no + "')\">" + isEmpty(projects.project_name) + "</td>" +
                            "<td>" + isEmpty(projects.perform_company) + "</td>" +
                            "<td>" + isEmpty(projects.customer_company) + "</td>" +
                            "<td>" + isEmpty(projects.project_leader) + "</td>" +
                            "<td>" + isEmpty(projects.start_date) + "</td>" +
                            "<td>" + isEmpty(projects.end_date) + "</td>" +
                            "<td>" + isEmpty(projects.location) + "</td>" +
                            "</tr>";
                    });
                  } else {
                    list = list + "<tr><td colspan='7' align='center'>데이터가 없습니다.</td></tr>";
                  }
                  $("#projects").append(list).trigger("create");
        },
        error : function(request,status,error) {
                alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
        }
      });
});
    
var projectModal = function(project_no) {
    $('#projectModal').empty();
    $('#projectModal').load('/projects/project/'+project_no);
}
</script>