<script type="text/javascript">
$(document).ready(function() {
    $('#m_modal_project').modal();
    return;
})
</script>
<!--begin::Modal-->
<div class="modal fade" id="m_modal_project" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <input type="hidden" id="mode" value=""\>
    <input type="hidden" id="<%= project_no %>" value=""\>
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">프로젝트 정보</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="projectName" class="form-control-label">프로젝트 이름</label>
                    <input type="text" class="form-control" id="projectName" value="<%= project_name %>" readonly>
                </div>
                <div class="form-group">
                    <label for="performCompany" class="form-control-label">수행사</label>
                    <input type="text" class="form-control" id="performCompany" value="<%= perform_company %>" readonly>
                </div>
                <div class="form-group">
                    <label for="customerCompany" class="form-control-label">고객사</label>
                    <input type="text" class="form-control" id="customerCompany" value="<%= customer_company %>" readonly>
                </div>
                <div class="form-group">
                    <label for="projectStartDate" class="form-control-label">시작일</label>
                    <input type="text" class="form-control" id="projectStartDate" value="<%= start_date %>" readonly>
                </div>
                <div class="form-group">
                    <label for="projectEndDate" class="form-control-label">종료일</label>
                    <input type="text" class="form-control" id="customerCompany" value="<%= end_date %>" readonly>
                </div>
                <div class="form-group">
                    <label for="projectLeader" class="form-control-label">프로젝트 리더</label>
                    <input type="text" class="form-control" id="projectLeader" value="<%= project_leader %>" readonly>
                </div>
                <div class="form-group">
                    <label for="projectLocation" class="form-control-label">위치</label>
                    <input type="text" class="form-control" id="projectLocation" value="<%= location %>" readonly>
                </div>
                <div class="form-group">
                    <label for="description" class="form-control-label">세부사항</label>
                    <textarea class="form-control" id="description" readonly><%= project_description %></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--end::Modal-->