<!--begin::Modal-->
<script type="text/javascript">
    $(document).ready(function() {
      var arrows;
      if (mUtil.isRTL()) {
          arrows = {
              leftArrow: '<i class="la la-angle-right"></i>',
              rightArrow: '<i class="la la-angle-left"></i>'
          }
      } else {
          arrows = {
              leftArrow: '<i class="la la-angle-left"></i>',
              rightArrow: '<i class="la la-angle-right"></i>'
          }
      }
    
      $('#workFrom').datepicker({
              rtl: mUtil.isRTL(),
              todayHighlight: true,
              orientation: "bottom left",
              format : "yyyy-mm-dd",
              templates: arrows
      });
    
      $('#birthday').datepicker({
              rtl: mUtil.isRTL(),
              todayHighlight: true,
              orientation: "bottom left",
              format : "yyyy-mm-dd",
              templates: arrows
      });
    
      getSectorList("#sector");
      getMajorList("#major1");
      getMajorList("#major2");
      getUserSexList("#sex");
      getUserTypeList("#userType");
    
      $('#m_modal_user').modal();
      return;
    });
    
    $('#save').click(function() {
      var userInfo = {
      userId : $('#userId').val(),
      userName : $('#userName').val(),
      userType : $('#userType').val(),
      sex : $('#sex').val(),
      birthday : $('#birthday').val(),
      sector : $('#sector').val(),
      sectorDetail : $('#sectorDetail').val(),
      major1 : $('#major1').val(),
      major2 : $('#major2').val(),
      phoneNo : $('#phoneNo').val(),
      email : $('#email').val(),
      homeAddress : $('#homeAddress').val(),
      university : $('#university').val(),
      faxNo : $('#faxNo').val(),
      workFrom : $('#workFrom').val()
      };
    
      if(userInfo.userName == '') {
          alert("이름은 필수 값입니다.");
          return;
      }
    
      var ajaxInfo = {
        url : "/users/user",
        data : userInfo,
        cache : false,
        type : "POST",
        beforeSend : function(x) {
          if (x && x.overrideMimeType) {
            x.overrideMimeType("application/xml;charset=UTF-8");
          }
        },
        success : function(response) {
          alert("저장하였습니다.");
          $('#m_modal_user').modal('hide');
          getUserList();
        },
        error : function(request,status,error) {
          alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
        }
      }
    
      $.ajax(ajaxInfo);
    });
    </script>v
<div class="modal fade" id="m_modal_user" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <input type="hidden" id="mode" value=""\>
    <input type="hidden" id="userId" value=""\>
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">인력 정보</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group required">
                        <label for="userName" class="form-control-label">이름</label>
                        <input type="text" class="form-control" placeholder="이름" id="userName">
                    </div>
                    <div class="form-group">
                        <label for="userType" class="form-control-label">직원구분</label>
                        <select class="form-control" id="userType" placeholder="직원구분"></select>
                    </div>
                    <div class="form-group">
                        <label for="sex" class="form-control-label">성별</label>
                        <select class="form-control" id="sex" placeholder="성별"></select>
                    </div>
                    <div class="form-group">
                        <label for="birthday" class="form-control-label">생년월일</label>
                        <div class="input-group date">
                            <input type="text" class="form-control m-input" readonly placeholder="Select date" id="birthday" />
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="la la-calendar-check-o"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="sector" class="form-control-label">업무분야</label>
                        <select class="form-control" id="sector" placeholder="업무분야"></select>
                    </div>
                    <div class="form-group">
                        <label for="sectorDetail" class="form-control-label">업무분야 상세</label>
                        <input type="text" class="form-control" placeholder="업무분야 상세" id="sectorDetail">
                    </div>
                    <div class="form-group">
                        <label for="major1" class="form-control-label">주모듈</label>
                        <select class="form-control" id="major1" placeholder="주모듈"></select>
                    </div>
                    <div class="form-group">
                        <label for="major2" class="form-control-label">부모듈</label>
                        <select class="form-control" id="major2" placeholder="부모듈"></select>
                    </div>
                    <div class="form-group">
                        <label for="phoneNo" class="form-control-label">전화번호</label>
                        <input type="text" class="form-control" placeholder="전화번호" id="phoneNo">
                    </div>
                    <div class="form-group">
                        <label for="email" class="form-control-label">이메일주소</label>
                        <input type="text" class="form-control" placeholder="이메일주소" id="email">
                    </div>
                    <div class="form-group">
                        <label for="homeAddress" class="form-control-label">집주소</label>
                        <input type="text" class="form-control" placeholder="집주소" id="homeAddress">
                    </div>
                    <div class="form-group">
                        <label for="university" class="form-control-label">출신대학</label>
                        <input type="text" class="form-control" placeholder="집주소" id="university" value="" />
                    </div>                    
                    <div class="form-group">
                        <label for="faxNo" class="form-control-label">팩스번호</label>
                        <input type="text" class="form-control" placeholder="팩스번호" id="faxNo">
                    </div>
                    <div class="form-group">
                        <label for="workFrom" class="form-control-label">경력시작일</label>
                        <div class="input-group date">
                            <input type="text" class="form-control m-input" readonly placeholder="Select date" id="workFrom" />
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="la la-calendar-check-o"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="save">Save</button>
            </div>
        </div>
    </div>
</div>
<!--end::Modal-->