<!--begin::Modal-->
<script type="text/javascript">
$(document).ready(function() {
  var arrows;
  if (mUtil.isRTL()) {
      arrows = {
          leftArrow: '<i class="la la-angle-right"></i>',
          rightArrow: '<i class="la la-angle-left"></i>'
      }
  } else {
      arrows = {
          leftArrow: '<i class="la la-angle-left"></i>',
          rightArrow: '<i class="la la-angle-right"></i>'
      }
  }

  $('#start_date').datepicker({
          rtl: mUtil.isRTL(),
          todayHighlight: true,
          orientation: "bottom left",
          format : "yyyy-mm-dd",
          templates: arrows
  });

  $('#end_date').datepicker({
          rtl: mUtil.isRTL(),
          todayHighlight: true,
          orientation: "bottom left",
          format : "yyyy-mm-dd",
          templates: arrows
  });

  $('#m_modal_userProject').modal();
  //getUserProjectList();
  return;
});

$('#save').click(function() {
  var projectInfo = {
    user_id : $('#userId').val(),
    project_name : $('#project_name').val(),
    start_date : $('#start_date').val(),
    end_date : $('#end_date').val(),
    role : $('#role').val()
  };

  if(projectInfo.project_name == '') {
      alert("프로젝트 이름은 필수 값입니다.");
      return;
  }

  var ajaxInfo = {
    url : "/users/project",
    data : projectInfo,
    cache : false,
    type : "POST",
    beforeSend : function(x) {
      if (x && x.overrideMimeType) {
        x.overrideMimeType("application/xml;charset=UTF-8");
      }
    },
    success : function(response) {
      alert("저장하였습니다.");
      getUserProjectList($('#userId').val());
    },
    error : function(request,status,error) {
      alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
    }
  }

  $.ajax(ajaxInfo);
});

var userProjectDel = function(user_project_seq) {
    var ajaxInfo = {
        url : "/users/project/" + user_project_seq,
        cache : false,
        type : "DELETE",
        beforeSend : function(x) {
            if (x && x.overrideMimeType) {
                x.overrideMimeType("application/xml;charset=UTF-8");
            }
        },
        success : function(response) {
            alert("삭제 되었습니다.");
            getUserProjectList($('#userId').val());
        },
        error : function(request,status,error) {
        alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
        }
  }

  $.ajax(ajaxInfo);
}

var getUserProjectList = function(userId) {
    console.log('getUserPorjectList:' + userId);
    $('#dumyList').empty();
    $('#dumyList').load("/users/project/" + userId + " #userProjectList");
    $('#project_name').val(''),
    $('#start_date').val(''),
    $('#end_date').val(''),
    $('#role').val('')
    getUserList();
}

</script>
<div class="modal fade" id="m_modal_userProject" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <input type="hidden" id="userId" value="<%= user_id %>"\>
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">인재 프로젝트 정보</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form>
                    <div class="form-group required">
                        <label for="userName" class="form-control-label">프로젝트 이름</label>
                        <input type="text" class="form-control" placeholder="이름" id="project_name" value="">
                    </div>
                    <div class="form-group">
                        <label for="birthday" class="form-control-label">시작일자</label>
                        <div class="input-group date">
                            <input type="text" class="form-control m-input" readonly placeholder="Select date" id="start_date" value="" />
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="la la-calendar-check-o"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="birthday" class="form-control-label">종료일자</label>
                        <div class="input-group date">
                            <input type="text" class="form-control m-input" readonly placeholder="Select date" id="end_date" value="" />
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="la la-calendar-check-o"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="sectorDetail" class="form-control-label">역할</label>
                        <input type="text" class="form-control m-input" placeholder="역할" id="role" value="" />
                    </div>
                    <div class="text-right text-middle">
                        <button type="button" class="btn btn-primary" id="save">Save</button>
                    </div>
                </form>
                <div class="m-portlet " id="m_portlet">
                    <div class="m-portlet__body">
                        <div id="dumyList">
                            <table class="table table-striped m-table" id="userProjectList">
                                <thead>
                                <tr>
                                    <th>프로젝트 이름</th>
                                    <th>시작일자</th>
                                    <th>종료일자</th>
                                    <th>역할</th>
                                    <th>삭제</th>
                                </tr>
                                </thead>
                                <tbody>
                                <% for (var i = 0 ; i < results.length ; i++) {
                                    var userProjectSeq = results[i].user_project_seq;
                                    var projectName = results[i].project_name;
                                    var startDate = results[i].start_date;
                                    var endDate = results[i].end_date;
                                    var role = results[i].role; 
                                %>
                                    <tr>
                                    <td><%= projectName %></td>
                                    <td><%= startDate %></td>
                                    <td><%= endDate %></td>
                                    <td><%= role %></td>
                                    <td><a href="javascript:userProjectDel('<%= results[i].user_project_seq %>');"><img src="\img\x-mark.png" width="10px" height="10px"></a></td>
                                    </tr>
                                <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--end::Modal-->