<div class="m-grid__item m-grid__item--fluid  m-grid m-grid--ver-desktop m-grid--desktop m-container--fluid m-container--responsive m-container--xxl m-page__container m-body">
    <div class="m-grid__item m-grid__item--fluid m-wrapper">
        <div class="m-content">
<% include ./userSearch %>
<% include ./userList %>
        </div>
    </div>
</div>
<div id="userModal"></div>
<div id="userProject"></div>
<!--begin:: Global Mandatory Vendors -->
<script src="/vendors/jquery/dist/jquery.js" type="text/javascript"></script>
<script src="/vendors/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
<!--end:: Global Mandatory Vendors -->

<!--begin:: Global Optional Vendors -->
<script src="/vendors/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="/vendors/js/framework/components/plugins/forms/bootstrap-datepicker.init.js" type="text/javascript"></script>
<script src="/vendors/bootstrap-daterangepicker/daterangepicker.js" type="text/javascript"></script>

<!--end:: Global Optional Vendors -->

<!--begin::Global Theme Bundle -->
<script src="/assets/demo/base/scripts.bundle.js" type="text/javascript"></script>
<!--end::Global Theme Bundle -->

<!--begin::Page Scripts -->
<script src="/assets/demo/custom/crud/forms/widgets/bootstrap-datepicker.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#menu').load('/menu');
    getSectorList("#s_sectorList");
    getMajorList("#s_majorList");
    getUserTypeList("#s_userTypeList");
    getUserList();
})
</script>

<script type="text/javascript">
var getSectorList = function(target, selectedValue) {
    $(target).empty();
    $.ajax({
        type : "GET",
        url : "/querys/sectorList",
        cache : false,
        success : function(response) {
                  if (response != "") {
                    var list = "";
                    $.each(response, function(index, sectorList) {
                        list = list + "<option value =\"" + sectorList.code + "\" ";
                        if (sectorList.code === selectedValue) {
                            list = list + "selected";
                        }
                        list = list + ">" + sectorList.code_name + "</option>";
                    });
                    list = "<option value =''>-</option>" + list;
                  } else {
                    list = "<option value =\"\">-</option>";
                  }
                  $(target).append(list).trigger("create");
        },
        error : function(request,status,error) {
                alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
        }
      });
};

var getUserSexList = function(target, selectedValue) {
    $(target).empty();
    $.ajax({
        type : "GET",
        url : "/querys/userSexList",
        cache : false,
        success : function(response) {
                  if (response != "") {
                    var list = "";
                    $.each(response, function(index, sectorList) {
                        list = list + "<option value =\"" + sectorList.code + "\" ";
                        if (sectorList.code === selectedValue) {
                            list = list + "selected";
                        }
                        list = list + ">" + sectorList.code_name + "</option>";
                    });
                    list = "<option value =''>-</option>" + list;
                  } else {
                    list = "<option value =\"\">-</option>";
                  }
                  $(target).append(list).trigger("create");
        },
        error : function(request,status,error) {
                alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
        }
      });
};

var getMajorList = function(target, selectedValue) {
    $(target).empty();
    $.ajax({
        type : "GET",
        url : "/querys/majorList",
        cache : false,
        success : function(response) {
                  if (response != "") {
                    var list = "";
                    $.each(response, function(index, majorList) {
                        list = list + "<option value =\"" + majorList.code + "\" ";
                        if (majorList.code === selectedValue) {
                            list = list + "selected";
                        }
                        list = list + ">" + majorList.code_name + "</option>";
                    });
                    list = "<option value =''>-</option>" + list;
                  } else {
                    list = "<option value =\"\">-</option>";
                  }
                  $(target).append(list).trigger("create");
        },
        error : function(request,status,error) {
                alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
        }
      });
};

var getUserTypeList = function(target, selectedValue) {
    $(target).empty();
    $.ajax({
        type : "GET",
        url : "/querys/userTypeList",
        cache : false,
        success : function(response) {
                  $(target).empty();
                  if (response != "") {
                    var list = "";
                    $.each(response, function(index, userTypeList) {
                        list = list + "<option value =\"" + userTypeList.code + "\" ";
                        if (userTypeList.code === selectedValue) {
                            list = list + "selected";
                        }
                        list = list + ">" + userTypeList.code_name + "</option>";
                    });
                    list = "<option value =''>-</option>" + list;
                  } else {
                    list = "<option value =\"\">-</option>";
                  }
                  $(target).append(list).trigger("create");
                  
                  getUserList();
        },
        error : function(request,status,error) {
                alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
        }
      });
};

var getUserList = function() {
    $("#userList").empty();
    $.ajax({
        type : "GET",
        url : "/users/users?sector=" + $("#s_sectorList").val() + "&major=" + $("#s_majorList").val() + "&userType=" + $("#s_userTypeList").val() + "&userName=" + $("#s_userName").val(),
        cache : false,
        success : function(response) {
                  if (response != "") {
                    $("#userList").append(response).trigger("create");
                  }
        },
        error : function(request,status,error) {
                alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
        }
      });
};

var userModal = function(userId) {
    $('#userModal').empty();
    $('#userModal').load('/users/user/'+userId);
}

var userProject = function(userId) {
    // $('#m_modal_userProject').modal('hide');
    // $('#userProject').empty();
    $('#userProject').load('/users/project/'+userId);
}
</script>
<!--end::Page Scripts -->