<div class="row">
    <div class="col-xl-12">
        <div class="m-portlet " id="m_portlet">
            <div class="m-portlet__body">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="m-section">
                            <div class="m-section__content">
                                <table class="table table-striped m-table">
                                <thead>
                                <tr>
                                    <th>이름</th>
                                    <th>업무분야</th>
                                    <th>주모듈</th>
                                    <th>직원구분</th>
                                    <th>현재프로젝트</th>
                                    <th>종료일자</th>
                                    <th>연락처</th>
                                    <th>이메일</th>
                                    <th>집주소</th>
                                    <th>부모듈</th>
                                    <th>생년월일</th>
                                    <th>성별</th>
                                </tr>
                                </thead>
                                <tbody id = "userList">
                                </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>					    
    </div>
</div>