<!--begin::Modal-->
<script type="text/javascript">
$(document).ready(function() {
    getSectorList("#sector","<%=sector%>");
    getMajorList("#major1","<%=major1%>");
    getMajorList("#major2","<%=major2%>");
    getUserSexList("#sex","<%=sex%>");
    getUserTypeList("#userType","<%=user_type%>");

    $('#m_modal_user').modal();
    return;
  });
</script>
<div class="modal fade" id="m_modal_user" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <input type="hidden" id="mode" value=""\>
    <input type="hidden" id="userId" value=""\>
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">인재 정보</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="userName" class="form-control-label">이름</label>
                        <input type="text" class="form-control" placeholder="이름" id="userName" value="<%= user_name %>" readonly>
                    </div>
                    <div class="form-group">
                        <label for="userType" class="form-control-label">직원구분</label>
                        <select class="form-control" id="userType" placeholder="직원구분" disabled="disabled"></select>
                    </div>
                    <div class="form-group">
                        <label for="sex" class="form-control-label">성별</label>
                        <select class="form-control" id="sex" placeholder="성별" disabled="disabled"></select>
                    </div>
                    <div class="form-group">
                        <label for="birthday" class="form-control-label">생년월일</label>
                        <input type="text" class="form-control m-input" readonly id="birthday" value="<%= birthday %>" />
                    </div>
                    <div class="form-group">
                        <label for="sector" class="form-control-label">업무분야</label>
                        <select class="form-control" id="sector" placeholder="업무분야" disabled="disabled"></select>
                    </div>
                    <div class="form-group">
                        <label for="sectorDetail" class="form-control-label">업무분야 상세</label>
                        <input type="text" class="form-control" placeholder="업무분야 상세" id="sectorDetail" value="<%= sector_detail %>" readonly />
                    </div>
                    <div class="form-group">
                        <label for="major1" class="form-control-label">주모듈</label>
                        <select class="form-control" id="major1" placeholder="주모듈" disabled="disabled"></select>
                    </div>
                    <div class="form-group">
                        <label for="major2" class="form-control-label">부모듈</label>
                        <select class="form-control" id="major2" placeholder="부모듈" disabled="disabled"></select>
                    </div>
                    <div class="form-group">
                        <label for="phoneNo" class="form-control-label">전화번호</label>
                        <input type="text" class="form-control" placeholder="전화번호" id="phoneNo" value="<%= phone_no %>" readonly />
                    </div>
                    <div class="form-group">
                        <label for="email" class="form-control-label">이메일주소</label>
                        <input type="text" class="form-control" placeholder="이메일주소" id="email" value="<%= email %>" readonly />
                    </div>
                    <div class="form-group">
                        <label for="homeAddress" class="form-control-label">집주소</label>
                        <input type="text" class="form-control" placeholder="집주소" id="homeAddress" value="<%= home_address %>" readonly/>
                    </div>
                    <div class="form-group">
                        <label for="university" class="form-control-label">출신대학</label>
                        <input type="text" class="form-control" placeholder="출신대학" id="university" value="<%= university %>" readonly />
                    </div>
                    <div class="form-group">
                        <label for="faxNo" class="form-control-label">팩스번호</label>
                        <input type="text" class="form-control" placeholder="팩스번호" id="faxNo" value="<%= fax_no %>" readonly />
                    </div>
                    <div class="form-group">
                        <label for="workFrom" class="form-control-label">경력시작일</label>
                        <input type="text" class="form-control m-input" id="workFrom"  value="<%= work_from %>" readonly />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--end::Modal-->