<div class="row">
    <div class="col-md-2">
        <div class="form-group">
            <label class="control-label" for="s_userName">이름</label>
            <input onchange="getUserList()" type="text" class="form-control" id="s_userName" name="s_userName">
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label class="control-label" for="s_sectorList">업무분야</label>
            <select class="form-control" id="s_sectorList" name="s_sectorList" onchange="getUserList()"></select>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label class="control-label" for="s_majorList">모듈</label>
            <select class="form-control" id="s_majorList" onchange="getUserList()"></select>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label class="control-label" for="s_userTypeList">직원구분</label>
            <select class="form-control" id="s_userTypeList" onchange="getUserList()"></select>
        </div>
    </div>
    <% if (user.user_level <= 3) { %>
    <div class="col-md-2">
        <div class="text-right text-middle">
            <button type="button" class="btn btn-success btn-sm" id="add" data-toggle="modal" data-target="#m_modal_user" onclick="userModal('0')">Add</button>
        </div>
    </div>
    <% } %>
</div>